/* Corine Jacobs
   10001326
   Universiteit van Amsterdam
   Corine_J@MSN.com */

body {
    background-color: lightblue;
    margin: 30px;
}

h1 {
    color: navy;
    font-style: bold;
    font-family: arial;
}

p {
	font-family: arial;
}

.button{
	padding: 10px;
	font-size: 100%;
	background-color: black;
	color: white;
	border: none;
}

.button:hover{
	background-color: gray;
}

.button:active{
	background-color: white;
	color: black;
}

#theimagesection {
	margin: 30px;
}

#footer{
	text-align: center;
}